html{
	font-size: 31.25VW;
}
body {
	font-size: .12rem;
}
input,button{
	border: 0;
	font-size: .14rem;
}
/*头部*/
.header{
	height: .44rem;
    line-height: .44rem;
    background-color: #00b38a;
    color: #fff;
    font-size: .18rem;
    text-align: center;
    width: 100%;
    position: relative;
}
.hback{
	position: absolute;
	width: .44rem;
	height: .44rem;
	left: 0;
	right: 0;
}
.hback span{
	color: #fff;
	line-height: .44rem;
}
.home{
	position: absolute;
	right: 0;
	width: .44rem;
	height: .44rem;
}
.home span{
	color: #fff;
	font-size: .2rem;
	line-height: .44rem;
}
/*底部*/
.footer{
	position: fixed;
	bottom: 0;
	height: .44rem;
	background: #f6f6f6; 
	border-top: 1px solid #e8e8e8;
	display: flex;
	width: 100%;
	z-index: 9;
}
.footer a{
	flex: 1;
	display: block;
	text-align: center;
	line-height: .44rem;
	color: #ccc; 
	font-size: .16rem; 
}
.footer span{
	font-size: .18rem;
}
.footer .active{
	background: #e7f3f0;
	color: #00b38a; 
}
/*************************************内容*********************************************/
.container{
	width: 100%;
	padding-bottom: .44rem;
}
.container-p{
	width: 100%;
	padding: .2rem;
	box-sizing: border-box;
}
.container-n{
	width: 100%;
}
/*职位*/
.headmsg{
	line-height: .45rem;
	padding-left: .2rem;
	box-sizing: border-box;
	font-size: .14rem;
	border-bottom: 1px solid #eee;
}
.edit{
	position: absolute;
	right: 0;
	line-height: .3rem;
	padding: 0 .2rem;
	border-radius: .15rem;
	background: #f5f5f5;
	color: #00b38a;
	text-align: center;
	margin: 0.07rem 0.2rem;
}
.job-item{
	padding: .15rem;
	display: flex;
	border-bottom: 1px solid #ccc;
}
.img{
	margin: .1`rem;
	display: inline-block;
}
.img img{
	width: .6rem;
	height: .6rem;
}
.item-desc{
	display: inline-block;
	flex: 1;
	padding-left: .1rem;
	width: 2.3rem;
}
.item-title{
	width: 85%;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.item-pos{
	width: 1.6rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
}
.item-info{
	position: relative;
}
.item-time{
	margin-top: 0.05rem;
	color: #888;
}
.item-salary{
	color:#00b38a;
	position: absolute;
	right: 0;
	font-size: .16rem;
}
.load{
	text-align: center;
	line-height: .5rem;
	background: #fafafa;
	display: block;
}
#copyright {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 40px;
    color: #333;
}
#copyright span{
	font-size: .12rem;
}
/*搜索*/
.search{
	height: .45rem;
	border-bottom: 1px solid #aaa;
	position: relative;
}
.search a{
	line-height: .44rem;
	display: inline-block;
	width: .4rem;
	text-align: center;
}
.back{
	position: absolute;
	bottom: .45rem;
	color: #fff;
}
.search .country{
	width: .9rem;
	font-size: .16rem;
	border-right: 1px solid #aaa;
	height: .45rem;
	overflow: hidden;
}
.search .country span{
	font-size: .12rem;
}
.search input{
	box-sizing: border-box;
	font-size: .16rem;
	position: absolute;
	left: 1.1rem;
	top: .15rem;
}
.submit{
	position: absolute;
	right: 0;
	top: 0;
	color: #00b38a;
}
.submit span{
	font-size: .24rem;
}
.site{
	position: fixed;
	top: .44rem;
	bottom: .44rem;
	z-index: 5;
	background: #fff;
	overflow-y: scroll;
}
.head{
	padding-left: .1rem;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	line-height: .3rem;
	color: #aaa;
}
.item{
	display: inline-block;
	width: 32%;
	line-height: .6rem;
	text-align: center;
	font-size: .16rem;
	height: .6rem;
}
.empty-info{
	line-height: .45rem;
	text-align: center;
	color: #c2cfcc;
	font-size: .16rem;
	margin-top: .2rem;
}
.history-item{
	background: #fafafa;
	line-height: .45rem;
	border-bottom: 1px solid #aaa;
	position: relative;
	height: .45rem;
	padding-left: .24rem;
}
.history-item .del{
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: .45rem;
	line-height: .45rem;
	text-align: center;
	font-size: .24rem;
	color: #666;
}
/*我的（已登录）*/
.logininfo{
	height: 1rem;
	text-align: center;
	padding: 0.3rem 0 0.1rem;
}
.headimg{
	display: inline-block;
	border-radius: 50%;
	border: 0;
	width: .72rem;
	height: .72rem;
}
.logininfo a {
	position: absolute;
	right: .1rem;
	font-size: .16rem;
	color: #00b38a;
}
.logininfo .login{
	background: #1fc8a1;
	text-align: center;
	display: inline-block;
	width: 1.25rem;
	height: .45rem;
	position: relative;
	line-height: .45rem;
	color: #fff;
	margin-top: .2rem;
}
.esc{
	margin: 10px auto;
	width: 90%;
	height: .4rem;
	background: #1fc8a1;
	color: #fff;
	text-align: center;
	line-height: .4rem;
	font-size: .16rem;
}
/*我的（未登录）*/
.control{
	margin: 0 5%;
}
.control .item{
	width: 48%;
	line-height: .86rem;
	background: #1fc8a1;
	color: #fff;
	text-align: center;
	height: .86rem;
	margin-top: 10px;
}
.control .item:nth-child(2n){
	margin-left: 4%;
}
/***************************** 编辑 *****************************/
#edit{
	padding: .2rem;
}
.msg-details{
	display: block;
    margin: .1rem 0 .2rem 0;
    text-align: center;
    height: 0.625rem;
    line-height: 0.625rem;
    color: #333;
    font-size: .15rem;
    background-color: #f0f0f0;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
}
.msg-title{
	display: block;
    color: #ccc;
    font-size: .12rem;
}
.container .tosearch{
	position: fixed;
	bottom: 0;
	width: 100%;
	line-height: .45rem;
	display: block;
	background:#00b38a; 
	color: #fff;
	font-size: .2rem;
	text-align: center;
}
.info{
	background: #eeeeee;
	color: #00b38a;
	height: 1.26rem;
	width: 100%;
	position: relative;
}
.info .middle{
	position: absolute;
	font-size: .2rem;
	width: 100%;
	text-align: center;
	top: .53rem;
}
.info .top{
	position: absolute;
	font-size: .2rem;
	left: .2rem;
	top: .4rem;
}
.info .bottom{
	position: absolute;
	font-size: .2rem;
	left: .6rem;
	top: .7rem;
}
.write{
	height: .5rem;
	border-bottom: 1px solid #ccc;
}
.write input{
	font-size: .2rem;
	line-height: .5rem;
	padding-left: .2rem;
	color: #666;
}
.write a{
	float: right; 
	width: .5rem;
	border-left: 1px solid #ccc;
	line-height: .5rem;
	display: block;
	text-align: center;
	color: #c2cfcc;
	font-size: .16rem;
}
.choose{
	padding-left: .2rem;
	box-sizing: border-box;
}
.msg-item{
	padding-left: .05rem;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
	line-height: .45rem;
	font-size: .14rem;
	color: #666;
}
.city-item{
	border-top: 1px solid #ccc;
}
.city-item .title{
	line-height: .26rem;
	color: #666;
	border-bottom: 1px solid #ccc;
	padding-left: .2rem;
	box-sizing: border-box;
}
.city-item .msg-city{
	width: 33%;
	display: inline-block;
	line-height: .6rem;
	text-align: center;
	font-size: .18rem;
	height: .6rem;
	overflow: hidden;

}
/*****************************************职位详情页**************************************************/
.job-title{
	line-height: .5rem;
	font-size: .2rem;
	font-weight: bold;
	padding-left: .2rem;
	box-sizing: border-box;
	position: relative;
	border-bottom: 1px solid #ffe95a;
	height: .5rem;
}
.collect{
	position: absolute;
	right: .2rem;
	width: .5rem;
	line-height: .5rem;
	text-align: center;
	height: .5rem;
}
.collect p{
	display: inline-block;
	vertical-align: middle;
}
.col-info{
	display: inline-block;
	color: #999;
}
.job-title .top{
	display: inline-block;
	color:#ffe95a;
}
.position-msg{
	border-bottom: 1px solid #eee;
	padding: .2rem 0;
}
.position-msg .dollor{
	background: url('https://m.lagou.com/images/mobile/asset/common/img/icon.png') no-repeat -66px -48px;
    background-size: 250px 250px;
}
.position-msg .siteicon{
	background: url('https://m.lagou.com/images/mobile/asset/common/img/icon.png') no-repeat -79px -49px;
    background-size: 250px 250px;
}
.position-msg .clock{
	background: url('https://m.lagou.com/images/mobile/asset/common/img/icon.png') no-repeat -93px -49px;
    background-size: 250px 250px;
}
.position-msg .backpack{
	background: url('https://m.lagou.com/images/mobile/asset/common/img/icon.png') no-repeat -110.5px -49.5px;
    background-size: 250px 250px;
}
.position-msg .hat{
	background: url('https://m.lagou.com/images/mobile/asset/common/img/icon.png') no-repeat -127.5px -49px;
    background-size: 250px 250px;
}
.posi-item span{
	display: inline-block;
	width: 13px;
	height: 13px;
	vertical-align: middle;
}
.solid{
	width: 15px;
    height: 15px;
    background: url('https://m.lagou.com/images/mobile/asset/common/img/icon.png') no-repeat -150px -41px;
    background-size: 250px 250px;
}
.dashed{
	width: 15px;
    height: 15px;
	background: url('https://m.lagou.com/images/mobile/asset/common/img/icon.png') no-repeat -170px -41px;
    background-size: 250px 250px;
}
.posi-item{
	display: inline-block;
	width: 33%;
	text-align: center;
	line-height: .3rem;
}
.posi-info{
	line-height: .3rem;
	color: #999;
	padding-left: .3rem;
	box-sizing: border-box;
}
.company-msg{
	position: relative;
	padding: .2rem 0;
}
.company-details{
	height: .6rem;
}
.company-msg .img{
	position: absolute;
	right: .2rem;
	top: .3rem;
	display: inline-block;
    width: 23px;
    height: 29px;
    background: url('https://m.lagou.com/images/mobile/asset/common/img/icon.png') no-repeat -222.5px -3.5px;
    background-size: 250px 250px;
 }
.company-msg .logo{
	position: absolute;
	left: .2rem;
	top: .2rem;
}
.logo img{
	width: .6rem;
	height: .6rem;
}
.company-msg .title{
	padding-left: 1rem;
	color: #00b38a;
	font-size: .18rem;
}
.company-msg .msg{
	padding-left: 1rem;
	width: 1.6rem;
}
.position-title{
	line-height: .5rem;
	padding-left: .2rem;
	background: #d2f9f0;
	color: #00b38a;
	box-sizing: border-box;
}
.position-details{
	padding: .2rem;
}
.position-details h5{
	font-weight: bold;
	line-height: .22rem;
	color: #555;
}
.position-details p{
	line-height: .22rem;
	color: #555;
}
.de-back{
	position: fixed;
	padding: .1rem;
	background: rgba(255,255,255,0.7);
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
}
.de-send{
	z-index: 5;
	background: #00b38a;
	text-align: center;
	line-height: .44rem;
	width: 100%;
	border-radius: 5px;
	display: block;
	color: #fff;
	font-size: .16rem;
}
/********************** control **************************/
/*投递*/
.deliver,.interview{
	border-bottom: 1px solid #e8e8e8;
	display: flex;
}
.deliver a{
	flex: 1;
	text-align: center;
	line-height: .45rem;
	font-size: .14rem;
	color: #555
}
.deliver .de-active{
	color: #00b38a;
    background-color: #f5f5f5;
}
/*面试*/
.interview a{
	flex: 1;
	text-align: center;
	line-height: .45rem;
	font-size: .14rem;
	color: #00b38a;
}
.interview .inter-active{
	color: #333;
	background: #f0f0f0;
}
.inter-back{
	background: #f0f0f0;
	position: fixed;
	z-index: -1;
	height: 100%;
	width: 100%;
}
.inter-back .send{
	text-decoration: underline;
	color: #00b38a;
	font-size: .16rem;
}
.inter-back .empty-info{
	color: #555;
}
/*邀约*/
.plus{
	width: 100%;
	box-sizing: border-box;
	height: 205px;
	border: 1px solid #c7f3e9;
	background-color: #eafffa;
	padding: 12px;
}
.bulb{
	height: 33px;
}
.plus p {
    font-size: .14rem;
    color: #3f4e4b;
    line-height: 20px;
    text-indent: 2em;
    margin-top: 9px;
}
.plus .plusbtn {
    width: 45%;
    margin: 9px auto;
}
.plus .plusbtn span {
    color: #3f4e4b;
    display: inline-block;
    font-size: .13rem;
    position: relative;
    top: -10px;
    font-weight: bold;
}
.plus .plusbtn .btn {
    display: inline-block;
    width: 68px;
    height: 28px;
    line-height: 28px;
    background-color: #5e5e5e;
    border-radius: 15px;
    position: relative;
    margin-left: 8px;
}
.plus .plusbtn .btn .circle {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 12px;
    position: absolute;
    top: 2px;
    left: 3px;
}
.plus .plusbtn .btn .close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 7px;
    right: 5px;
    color: #fff;
    font-size: .3rem;
}
.explain {
    margin-top: 20px;
    padding-left: 8px;
}
.explain p {
    color: #aaa;
    font-size: .12rem;
    line-height: 17px;
}
.explain .txt {
    margin-top: 12px;
}
.tips{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #000;
	color: #fff;
	width: 50%;
	font-size: .16rem;
	padding: .2rem;
	box-sizing: border-box;
	border-radius: 5px;
	height: 1.5rem;
}
/*******************************************登录页****************************************************/
#login,#register{
	background: -webkit-linear-gradient(135deg,#029253,#00887b);
	height: 100%;
	width: 100%;
	position: fixed;
	padding-top: 5%;
}

#login input,#login button,#login .register{
	width: 90%;
	height: .54rem;
	margin: 1px auto;
	outline: none;
	display: block;
	line-height: .54rem;
}
#login input,#register input{
	padding:0 5% ;
	box-sizing: border-box;
}
#login .login,#register .register{
	margin: .2rem auto;
	background: #45e3be;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	font-size: .18rem;
}
#login p,#register p{
	padding:0 5%;
	color: #45e3be;
}
#login .register,#register .login{
	border: 1px solid #45e3be;
	border-radius: 5px;
	color: #45e3be;
	font-size: .18rem;
	margin-top: .1rem;
	text-align: center;
}
.input-info{
	position: absolute;
	right: 10%;
	font-size: .12rem;
	top: .21rem;
	color: #f00;
}
.eye-info{
	position: absolute;
	right: 20%;
	font-size: .12rem;
	top: .21rem;
	color: #f00;
}
#login .eye,#register .eye{
	position: absolute;
	right: 10%;
	font-size: .12rem;
	top: .21rem;
	color: #0ac599;
}
.top-radius{
	border-radius: 5px 5px 0 0 ;
}
.bottom-radius{
	border-radius:0 0 5px 5px ;
}
/******************************************注册页*********************************************/

#register input,#register button,#register .login{
	width: 90%;
	height: .54rem;
	margin: 0 auto .1rem;
	outline: none;
	display: block;
	line-height: .54rem;
	border-radius: 5px;
}

.imgcode{
	padding: 0 5%;
	height: .45rem;
	margin-bottom: .1rem;
}
.imgcode img{
	height: 100%;
	width: 1.2rem;
	display: inline-block;
	vertical-align: middle;
}
.imgcode a{
	line-height: .45rem;
	color: #45e3be;
	margin-left: .3rem;
	display: inline-block;
	vertical-align: middle;
}
#register .login{
	margin-top: .1rem;
}
#register p a{
	color: #9bffd3;
	text-decoration: underline;
}