html{
	font-size: 31.25VW;
}
body {
	font-size: .12rem;
}
input,button{
	border: 0;
	font-size: .14rem;
}
/*头部*/
.header{
	height: .44rem;
    line-height: .44rem;
    background-color: #00b38a;
    color: #fff;
    font-size: .18rem;
    text-align: center;
    width: 100%;
}
/*底部*/
.footer{
	position: fixed;
	bottom: 0;
	height: .44rem;
	background: #f6f6f6; 
	border-top: 1px solid #e8e8e8;
	display: flex;
	width: 100%;
	z-index: 9;
}
.footer a{
	flex: 1;
	display: block;
	text-align: center;
	line-height: .44rem;
	color: #ccc; 
	font-size: .16rem; 
}
.footer span{
	font-size: .18rem;
}
.footer .active{
	background: #e7f3f0;
	color: #00b38a; 
}
/*************************************内容*********************************************/
.container{
	width: 100%;
	padding-bottom: .44rem;
}
/*职位*/
.headmsg{
	line-height: .45rem;
	padding-left: .2rem;
	box-sizing: border-box;
	font-size: .14rem;
	border-bottom: 1px solid #eee;
}
.edit{
	float: right;
	line-height: .3rem;
	padding: 0 .2rem;
	border-radius: .15rem;
	background: #f5f5f5;
	color: #00b38a;
	text-align: center;
	margin: 0.07rem 0.2rem;
}
.job-item{
	padding: .15rem;
	display: flex;
	border-bottom: 1px solid #ccc;
}
.img{
	margin: .1`rem;
	display: inline-block;
}
.img img{
	width: .6rem;
	height: .6rem;
}
.item-desc{
	display: inline-block;
	flex: 1;
	padding-left: .1rem;
	width: 2.3rem;
}
.item-title{
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.item-pos{
	width: 1.6rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
}
.item-info{
	position: relative;
}
.item-salary{
	color:#00b38a;
	position: absolute;
	right: 0;
	font-size: .16rem;
}
.load{
	text-align: center;
	line-height: .5rem;
	background: #fafafa;
	display: block;
}
#copyright {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 40px;
    color: #333;
}
#copyright span{
	font-size: .12rem;
}
/*搜索*/
.search{
	height: .45rem;
	border-bottom: 1px solid #aaa;
	position: relative;
}
.search a{
	line-height: .44rem;
	display: inline-block;
	width: .4rem;
	text-align: center;
}
.back{
	position: absolute;
	bottom: .45rem;
	color: #fff;
}
.search .country{
	width: .9rem;
	font-size: .16rem;
	border-right: 1px solid #aaa;
	height: .45rem;
	overflow: hidden;
}
.search .country span{
	font-size: .12rem;
}
.search input{
	box-sizing: border-box;
	font-size: .16rem;
	position: absolute;
	left: 1.1rem;
	top: .15rem;
}
.submit{
	position: absolute;
	right: 0;
	top: 0;
	color: #00b38a;
}
.submit span{
	font-size: .24rem;
}
.site{
	position: fixed;
	top: .44rem;
	bottom: .44rem;
	z-index: 5;
	background: #fff;
	overflow-y: scroll;
}
.head{
	padding-left: .1rem;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	line-height: .3rem;
	color: #aaa;
}
.item{
	display: inline-block;
	width: 32%;
	line-height: .6rem;
	text-align: center;
	font-size: .16rem;
	height: .6rem;
}
.history-item{
	background: #fafafa;
	line-height: .45rem;
	border-bottom: 1px solid #aaa;
	position: relative;
	height: .45rem;
	padding-left: .24rem;
}
.history-item .del{
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: .45rem;
	line-height: .45rem;
	text-align: center;
	font-size: .24rem;
	color: #666;
}
/*我的（已登录）*/
.logininfo{
	height: 1rem;
	text-align: center;
	padding: 0.3rem 0 0.1rem;
}
.headimg{
	display: inline-block;
	border-radius: 50%;
	border: 0;
	width: .72rem;
	height: .72rem;
}
.logininfo a {
	position: absolute;
	right: .1rem;
	font-size: .16rem;
	color: #00b38a;
}
.logininfo .login{
	background: #1fc8a1;
	text-align: center;
	display: inline-block;
	width: 1.25rem;
	height: .45rem;
	position: relative;
	line-height: .45rem;
	color: #fff;
	margin-top: .2rem;
}
.esc{
	margin: 10px auto;
	width: 90%;
	height: .4rem;
	background: #1fc8a1;
	color: #fff;
	text-align: center;
	line-height: .4rem;
	font-size: .16rem;
}
/*我的（未登录）*/
.control{
	margin: 0 5%;
}
.control .item{
	width: 48%;
	line-height: .86rem;
	background: #1fc8a1;
	color: #fff;
	text-align: center;
	height: .86rem;
	margin-top: 10px;
}
.control .item:nth-child(2n){
	margin-left: 4%;
}


/*******************************************登录页****************************************************/
#login,#register{
	background: -webkit-linear-gradient(135deg,#029253,#00887b);
	height: 100%;
	width: 100%;
	position: fixed;
	padding-top: 5%;
}

#login input,#login button,#login .register{
	width: 90%;
	height: .54rem;
	margin: 1px auto;
	outline: none;
	display: block;
	line-height: .54rem;
}
#login input,#register input{
	padding:0 5% ;
	box-sizing: border-box;
}
#login .login,#register .register{
	margin: .2rem auto;
	background: #45e3be;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	font-size: .18rem;
}
#login p,#register p{
	padding:0 5%;
	color: #45e3be;
}
#login .register,#register .login{
	border: 1px solid #45e3be;
	border-radius: 5px;
	color: #45e3be;
	font-size: .18rem;
	margin-top: .1rem;
	text-align: center;
}
.input-info{
	position: absolute;
	right: 10%;
	font-size: .12rem;
	top: .21rem;
	color: #f00;
}
.eye-info{
	position: absolute;
	right: 20%;
	font-size: .12rem;
	top: .21rem;
	color: #f00;
}
#login .eye,#register .eye{
	position: absolute;
	right: 10%;
	font-size: .12rem;
	top: .21rem;
	color: #0ac599;
}
.top-radius{
	border-radius: 5px 5px 0 0 ;
}
.bottom-radius{
	border-radius:0 0 5px 5px ;
}
/******************************************注册页*********************************************/

#register input,#register button,#register .login{
	width: 90%;
	height: .54rem;
	margin: 0 auto .1rem;
	outline: none;
	display: block;
	line-height: .54rem;
	border-radius: 5px;
}

.imgcode{
	padding: 0 5%;
	height: .45rem;
	margin-bottom: .1rem;
}
.imgcode img{
	height: 100%;
	width: 1.2rem;
	display: inline-block;
	vertical-align: middle;
}
.imgcode a{
	line-height: .45rem;
	color: #45e3be;
	margin-left: .3rem;
	display: inline-block;
	vertical-align: middle;
}
#register .login{
	margin-top: .1rem;
}
#register p a{
	color: #9bffd3;
	text-decoration: underline;
}